<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>
    <!-- Page Content -->
    <div class="container-fluid main-container">
        <div class="row title-header">
          <span>Swap Details</span>
        </div>

        <div class="row row-entry">
          <span><%=data.group_name%></span>
          <span class="pull-right"><%=data.date%></span>
        </div>
        
        <div class="row title-header">
          <span>Old Driver</span>
        </div>

        <div class="row row-entry">
          <span><%=data.old_driver.name%></span>
        </div>

        <div class="row title-header">
          <span>New Driver</span>
        </div>

        <div class="row row-entry">
          <% if (data.new_driver.user_id == null ) { %>
            <span>&nbsp</span>
          <% } else { %>
            <span><%=data.new_driver.name%></span>
          <% } %>
        </div>

        <div class="row title-header">
          <span>Swap Status</span>
        </div>

        <div class="row row-entry">
        <% if (data.is_active) { %>
          <span class="label label-pending">Pending</span>
        <% } else { %>
          <span class="label label-complete">Complete</span>
        <% } %>
        </div>

        <div class="row title-header">
          <span>Passengers</span>
        </div>

        <% for(var i=0; i<data.passengers.length; i++) { %>
          <div class="row row-entry">
            <span><%=data.passengers[i].name%></span>
          </div>
        <% } %>
    
        <% if (data.is_active) { %>
	        <div class = "btn-wrapper">
	            <a href="/swap/confirm/<%=data.swap_id%>" 
	               class="btn btn-lg btn-teal">
	                 pick up shift
	            </a>
	        </div>
	    <% } %>
    </div>

    <% include ../../partials/footer %>

  </body>
</html>
