<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>
    <!-- Page Content -->
    <% include ../../partials/brand_header %>
    <div class="container-fluid main-container">
        <div class="row title-header">
          <span>Swap Details</span>
        </div>


        <div class="row row-entry">
          <span><strong>Group</strong></span>
          <span class="pull-right"><%=data.group_name%></span>
        </div>

        <div class="row row-entry">
          <span><strong>Date</strong></span>  
          <span class="pull-right"><%=data.date%></span>
        </div>
        
        <div class="row row-entry">
          <span><strong>Old Driver</strong></span>  
          <span class="pull-right"><%=data.old_driver.name%></span>
        </div>

        <div class="row row-entry">
          <span><strong>New Driver</strong></span>  
            <span class="pull-right"><%=data.new_driver.name%></span>
        </div>

        <div class="row row-entry">
          <span><strong>Swap Status</strong></span>  
          <% if (data.is_active) { %>
            <span class="pull-right label label-pending">Pending</span>
          <% } else { %>
            <span class="pull-right label label-complete">Complete</span>
          <% } %>
        </div>

        <div class="row row-entry">
          <span><strong>Passengers</strong></span>
          <% for(var i=0; i<data.passengers.length; i++) { %>
          <span class="pull-right"><%=data.passengers[i].name%></span></br>
          <% } %>
        </div>

    
        <% if (data.is_active) { %>
	        <div class = "btn-wrapper">
	            <a href="/swap/confirm/<%=data.swap_id%>" 
	               class="btn btn-lg btn-teal">
	                 pick up shift
	            </a>
	        </div>
	    <% } %>
    </div>


<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class  ="container">
		<% include ../../partials/footer/swaps %>
	
	</div>
</div>


  </body>
</html>
