<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>
    <!-- Page Content -->
    <% include ../../partials/brand_header %>
    <div class="container-fluid main-container">
        <div class="row message-subject-header">
          <span><strong>  <%=thread_subject%></strong></span></br>
          <span><small><strong>In this thread: </strong><%=thread_members%></small></span>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="list-group">
              <% for(var i=0; i<messages.length; i++) { %>
                <div class="list-group-item">
                  <div class="row">
                    <span class="col-xs-9 <%=messages[i].author_style%>">
                      <strong><small>
                        <%= messages[i].author %>
                      </small></strong>
                    </span>
                    <span class="col-xs-3 text-right"><small><%= messages[i].date %></small></span>
                  </div>
                  <div class="row">
                    <span class="message-body-label col-xs-12"><%= messages[i].body %></span>
                  </div>
                </div>
              <% } %>
              </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row message-input-panel">
          <div class="col-xs-12">
            <form role="form" method="post" action="/messages/reply">
              <div class="form-group">
                <label>Reply</label>
                <textarea class="form-control" name="message"></textarea>
              </div>

              <div class="form-group">
                <input type="hidden" name="thread_id" value="<%=thread_id%>">
              </div>

              <button class="btn btn-teal" type="submit">Submit</button>
              <a href="/messages" class="btn btn-default">Cancel</a>
            </form>
          </div>
        </div>
        <!-- /.row -->
        <div class="padding"></div>
        <div class="padding"></div>
    </div>

<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class  ="container">
		<% include ../../partials/footer/updates %>

	</div>
</div>

  </body>
</html>
