<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../../partials/head %>

</head>

<body>
    <% include ../../partials/brand_header %>
    <div class="container-fluid main-container">
        <div class="row title-header">
          <span>Send message to group_name</span>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="group-members">
              <form role="form" method="post" action="/messages/new">
              <% for(var i=0; i<parents.length; i++) { %>
                <div class="form-group">
                  <label><input name="selected" value="<%=parents[i].id%>" type="checkbox"> <%=parents[i].get("first_name")%> <%=parents[i].get("last_name")%></label>
                </div>
              <% } %>
            <% for(var i=0; i<passengers.length; i++) { %>
              <div class="form-group">
              <label><input name="selected" value="<%=passengers[i].id%>" type="checkbox"> <%=passengers[i].get("first_name")%> <%=passengers[i].get("last_name")%></label>
              </div>
            <% } %>
            </div>
            <div class="form-group">
              <label>Subject</label>
              <input type="text" class="form-control" name="subject"></input>
            </div>

            <div class="form-group">
              <label>Message</label>
              <textarea class="form-control" name="message"></textarea>
            </div>

            <div class="btn-wrapper">
              <button class="btn btn-teal" type="submit">Submit</button>
              <button class="btn btn-default" type="cancel">Cancel</button>
            </div>
          </form>
          </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class  ="container">
		<% include ../../partials/footer/updates %>

	</div>
</div>

</body>

</html>
