<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>

</head>

<body>
    <% include ../partials/brand_header %>
    <div class="container-fluid main-container">
        <div class="title-header row">
            <div class = "btn-row-wrapper">
                <a href="/upcoming-rides/<%=group.id%>" class="btn btn-teal">
                    upcoming rides
                </a>
                <a href="/messages/group/<%= group.id %>" class="btn btn-teal">     message group
                </a>
            </div>
        </div>
        <!-- /. title-header row -->
           <div class="row">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Group Details</div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <%=group.get("name")%>
                            </li>
                        </ul>
            </div>
            <!-- /.row -->
            <div class="row">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Group Members (parents)</div>
                        <ul class="list-group">
                            <% for (var d in drivers) {%>
                                <li class="list-group-item"><%=drivers[d]%></li>
                                <% }%>
                        </ul>
            </div>
            <!-- /.row -->
                 <div class="row">
                            <!-- Default panel contents -->
                             <div class="panel-heading">Group Members (kids) </div>
                             <ul class="list-group">
                                <% for (var p in passengers) {%>
                                    <li class="list-group-item"><%=passengers[p]%></li>
                                <% }%>
                            </ul>
                 </div>
                <div class="padding"></div>
                <div class="padding"></div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <!--% include ../partials/nav %-->

<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class  ="container">
      <% include ../partials/footer/groups %>
	</div>
</div>

</body>

</html>
