<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>

</head>

<body>

<% include ../partials/brand_header %>
    <div class="container-fluid main-container">
        <div class="row title-header">
          <span>Ride Details</span>
        </div>


        <div class="row row-entry">
            <span><strong>Group</strong></span>
            <span class="pull-right">
                <%=group.get("name")%>
            </span>
        </div>

        <div class="row row-entry">
            <span><strong>Date</strong></span>  
            <span class="pull-right">
                <%=date%>
            </span>
        </div>
        
        <div class="row row-entry">
            <span><strong>Driver</strong></span>  
            <span class="pull-right">
                <%=driver_name%>
            </span>
        </div>

        <div class="row row-entry">
          <span><strong>Passengers</strong></span>
            <% for (var p in passengers) {%>
                <span class="pull-right">
                    <%=passengers[p]%>
                </span>
            </br>
          <% } %>
        </div>
    </div>

<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class  ="container">
		<% include ../partials/footer/rides %>

	</div>
</div>

</body>

</html>


<!--% if (!swap_exists) { %--> 
    <!--<a href="/ride/swap/<%=ride_id%>" class="btn btn-xs btn-primary"--><!--Request Swap</a>--> 
<!--% } %>

