<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>

</head>

<body>

<% include ../partials/brand_header %>
    <div class="container-fluid main-container">
        <div class="row title-header">
          <span>Ride Details</span>
        </div>


        <div class="row row-entry">
            <span><strong>Group</strong></span>
            <span class="pull-right">
                <%=group.get("name")%>
            </span>
        </div>

        <div class="row row-entry">
            <span><strong>Date</strong></span>  
            <span class="pull-right">
                <%=date%>
            </span>
        </div>

        <div class="row row-entry">
            <span><strong>Start Location</strong></span>  
            <span class="pull-right">
                <a href="#" class="location-link">
                    <%=start_location%>
                </a>
            </span>
        </div>

        <div class="row row-entry">
            <span><strong>End Location</strong></span>  
            <span class="pull-right">
                <a href="#" class="location-link">
                    <%=end_location%>
                </a>
            </span>
        </div>
        
        <div class="row row-entry">
            <span><strong>Driver</strong></span>  
            <span class="pull-right">
                <%=driver_name%>
            </span>
            </br>
            <span class="pull-right">
                <% if(swap_exists) { %>
                  <% if(swap_is_active) { %>
                    <span class="text-pending">swap requested</span>
                  <% } else { %>
                    <span class="text-complete">swap completed</span>
                  <% } %>
                <%} %>
            </span>
        </div>

        <div class="row row-entry">
            <span><strong>Passengers</strong>
                <i class = "fa fa-edit edit-icon fa-1x">edit</i>
            </span>
            <% for (var p in passengers) {%>
                <span class="pull-right">
                    <%=passengers[p]%>
                </span>
            </br>
          <% } %>
        </div>
    </div>

    <% if (!swap_exists) { %>
        <div class = "btn-wrapper">
            <a href="/ride/swap/<%=ride_id%>" class="btn btn-teal">
                Request Swap
            </a>
        </div>
    <% } %>


<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class  ="container">
		<% include ../partials/footer/rides %>

	</div>
</div>

</body>

</html>


<!--% if (!swap_exists) { %--> 
    <!--<a href="/ride/swap/<%=ride_id%>" class="btn btn-xs btn-primary"--><!--Request Swap</a>--> 
<!--% } %>

