<!DOCTYPE html>
<html lang="en">

<head>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <% include ../partials/head %>

</head>

<body>
    <% include ../partials/brand_header %>
    <div class="container-fluid main-container">
        <div class="title-header row">
          <span>Swap Board</span>
        </div>
        <div class="row">
          <div class="list-group">
            <% for(var i=0; i<requests.length; i++) { %>
              <a href="/swap/<%=requests[i].swap_id%>" class="list-group-item">
                <div class="row">
                  <span class="request-group-name-label col-xs-6"><%=requests[i].group%></span>
                  <span class="request-date-label col-xs-6 text-right"><%=requests[i].date%></span>
                </div>
                <div class="row">
                  <span class="request-message-label col-xs-6"><strong><%=requests[i].curr_driver%> - </strong><%=requests[i].note%></span>
                  <% if(requests[i].is_active) { %>
                  <span class="col-xs-5 text-right"><span class="text-pending">pending</span></span>
                  <% } else { %>
                  <span class="col-xs-5 text-right"><span class="text-complete">completed</span></span>
                  <% } %>
                </div>
              </a>
            <% } %>
          </div>
        </div>
        <div class="padding"></div>
    </div>
    <!-- /.container-fluid -->

<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class  ="container">
		<% include ../partials/footer/swaps %>
	</div>
</div>

</body>

</html>
